main {
  position: relative;
}

main span:nth-child(3) {
  margin-top: 110px;
  font-size: 40px;
}
main input {
  background: none;
  border: none;
  border-bottom: solid white;
  width: 650px;
  height: 50px;
  font-size: 30px;
  margin-top: 0;
  text-align: center;
  color: white;
}
.todo {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo span:first-child {
  font-size: 30px;
  font-weight: bold;
}
.today {
  display: flex;
  align-items: center;
}
.today i {
  color: white;
  cursor: pointer;
  margin-top: 7px;
}
.today span {
  font-size: 40px;
  margin: 0 10px 0 10px;
}
.fa-check {
  position: absolute;
  bottom: 25px;
  left: 2px;
}
.fa-minus {
  position: absolute;
  bottom: 10px;
  left: 35px;
}
.todolist {
  width: 28%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 60px;
  right: 15px;
  border-radius: 8px;
}
.firstPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.firstPage span,
.firstPage button {
  color: white;
}
.firstPage button {
  background-color: rgb(54, 147, 234);
  border: none;
  color: white;
  margin-top: 15px;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}
.todolist input {
  width: 93%;
  margin-top: 70px;
  padding-left: 15px;
  background: none;
  border: none;
  outline: none;
  color: white;
}
/* .todolist span {
  color: white;
  margin-top: 70px;
}
.todolist button {

}
.todolist form {
  width: 100%;
}
 */
