header {
  padding-top: 16px;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
header button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
header button:first-child {
  opacity: 0.85;
}
header button:first-child:hover {
  opacity: 1;
}
