.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
  justify-content: center;
}
.login-div span:first-child {
  color: white;
  font-size: 70px;
  text-align: center;
}
.login-div input {
  width: 790px;
  margin-top: 40px;
  border: none;
  background: none;
  border-bottom: solid;
  color: white;
  font-size: 50px;
  text-align: center;
  outline: none;
}
.warning {
  margin-top: 30px;
  color: white;
  font-size: 22px;
}
.login-bottomdiv {
  margin-bottom: 34px;
}
.login-bottomdiv i {
  margin-right: 10px;
}
.login-bottomdiv button {
  background: none;
  border: solid 1px;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 17px;
}
.login-bottomdiv button:first-child {
  margin-right: 15px;
}
.hidden {
  visibility: hidden;
}

@keyframes animation1001 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation0001 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation1000 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.animation1001 {
  animation: animation1001 1s linear;
}
.animation0001 {
  animation: animation0001 1s linear;
}
.animation1000 {
  animation: animation1000 1s linear;
}

@keyframes animation001 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation100 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.animation001 {
  animation: animation001 0.3s linear;
}
.animation100 {
  animation: animation100 0.3s linear;
}
